
manuscript/MTRC.aux
manuscript/MTRC.bbl
manuscript/MTRC.blg
manuscript/MTRC.log
manuscript/MTRC.out
manuscript/MTRC.spl
manuscript/MTRC.synctex.gz
manuscript/sections/introduction.log
manuscript/sections/relatedwork.log
preprocessing/test.py
manuscript/MTRC.pdf
manuscript/MTRC.synctex(busy)
MTRC oneFile/MTRC.aux
MTRC oneFile/MTRC.bbl
MTRC oneFile/MTRC.blg
MTRC oneFile/MTRC.log
MTRC oneFile/MTRC.out
MTRC oneFile/MTRC.pdf
MTRC oneFile/MTRC.spl
MTRC oneFile/MTRC.synctex.gz
